STATE_FILE="abstract_state.json" # Optional. This is the name of the state file from $HOME/.cw-orchestrator/ e.g. here $HOME/.cw-orchestrator/sbatrsct_state.json. Defaults to state.json
ARTIFACTS_DIR="artifacts_dir" # Optional
MAIN_MNEMONICE="" # Necessary if interacting with a cw-orch-daemon on mainnet
TEST_MNEMONIC="" # Necessary if interacting with a cw-orch-daemon on testnet
LOCAL_MNEMONIC="" # Necessary if interacting with a cw-orch-daemon locally

CW_ORCH_GAS_BUFFER = 1.4 # Optional, this allows changing the gas buffer applied after tx simulation