[juno-1]
kind = "mainnet"
chain_id = "juno-1"
gas_denom = "ujuno"
gas_price = 0.075
grpc_urls = ["http://juno-grpc.polkachu.com:12690"]

[juno-1.network_info]
chain_name = "juno"
pub_address_prefix = "juno"
coin_type = 118
