[package]
name = "cw-orch-interchain-core"
version = "0.7.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description = "Interchain extension for cw-orch. Creates the basic traits for working with interchain environments"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
daemon = ["dep:cw-orch-daemon"]


[dependencies]
base64 = "0.22.1"
cosmwasm-schema = "2.1.3"
cosmwasm-std = { workspace = true }
cw-orch-core = { workspace = true }
cw-orch-mock = { workspace = true }
cw-orch-daemon = { workspace = true, optional = true }
futures = "0.3.30"
ibc-relayer-types = { workspace = true }
log = { workspace = true }
# TODO: polytone = "2.0.0"
prost = "0.13.1"
serde_json = { workspace = true }
thiserror = { workspace = true }
tokio = "1.39.2"
tonic = { workspace = true, features = ["tls", "tls-roots"] }

[dev-dependencies]
counter-contract = { path = "../../../contracts-ws/contracts/counter" }
cw-orch-interchain = { path = "../../../cw-orch-interchain", features = [
  "daemon",
] }
cw-orch = { workspace = true }
cosmos-sdk-proto = { workspace = true }
ibc-proto = { workspace = true }
prost-types = { workspace = true }
